/* ------------- BUTTONS AND INPUTS ------------- */

/* Radio Buttons */
.hide{display: none;}
input[type="radio"] + .fa,
input[type="radio"] + label > .fa { cursor: pointer; }
/* Unchecked */
input[type="radio"] + .fa-check-circle:before,
input[type="radio"] + label > .fa-check-circle:before { content: "\f111"; }
input[type="radio"] + .fa-venus:before,
input[type="radio"] + label > .fa-check-circle:before { opacity: 0.4; }
input[type="radio"] + .fa-mars:before,
input[type="radio"] + label > .fa-check-circle:before { opacity: 0.4; }
input[type="radio"] + .fa-paw:before,
input[type="radio"] + label > .fa-check-circle:before { opacity: 0.4; }
input[type="radio"] + .fa-genderless:before,
input[type="radio"] + label > .fa-genderless:before { opacity: 0.4; }
/* Checked */
input[type="radio"]:checked + .fa-check-circle:before,
input[type="radio"]:checked + label > .fa-check-circle:before { content: "\f058"; }
input[type="radio"]:checked + .fa-venus:before,
input[type="radio"]:checked + label > .fa-venus:before { color: fuchsia; opacity:1; }
input[type="radio"]:checked + .fa-mars:before,
input[type="radio"]:checked + label > .fa-mars:before { color: blue; opacity:1;}
input[type="radio"]:checked + .fa-paw:before,
input[type="radio"]:checked + label > .fa-paw:before { color: #008080; opacity:1;}
input[type="radio"]:checked + .fa-genderless:before,
input[type="radio"]:checked + label > .fa-genderless:before { color: #008080; opacity:1;}

input, 
.login button, 
#register button,
.updateposts #buttonsposts button{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

#intro #found-pet a,
input[type=submit],
button{
    border: 1px solid #008080;
    background-color: #008080;
    color: white;
    transition: 0.3s;
    cursor: pointer;
    padding: 1em;
    border-radius: 4px;
}

#intro #found-pet a:hover,
input[type=submit]:hover,
button:hover{
    border: 1px solid #004646;
    background-color: #004646;
}

#pet button[type=submit]{
    cursor: pointer;
    border: none;
    outline: none;
    font-size: large;
}

#pet .infoGrid #proposals #uniqueproposal button[type=submit]{
    color: green;
}

#pet .name_and_favorite button[type=submit]{
    background-color: transparent;
    color: orange;
}

header .searchbar button,
#information_and_update button{
    border: none;
    border-radius: 0;
    color: black;
    padding: 0.3em;
    margin: 0;
}

header .searchbar button{
    background-color: white;
}

#information_and_update button{
    background-color: transparent;
}

input[type=text], input[type=password]{
    border: 1px solid #ccc;
}

#pet-update #updatecontainers .updateposts #buttonsposts button[type=submit]{
    width: 50%;
    font-size: 16px;
    border: 1px solid #bb1313;
    background-color: #bb1313;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

#pet-update #updatecontainers .updateposts #buttonsposts button[type=submit]:hover{
    border: 1px solid #7c0e0e;
    background-color: #7c0e0e;
}

/* ------------- COMMON COMPONENTS ------------- */

a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a:visited {color: black;}

footer a:visited,
header a:visited{
    color: white;
}

footer a,
header a{
    color: white;
    text-decoration: none;
}

/* ------------- ANIMATIONS ------------- */

@keyframes pink_and_blue {
    0%   {color: rgb(230, 103, 124);}
    50%  {color: rgb(19, 77, 165);}
    100%  {color: rgb(230, 103, 124);}
}

  

@keyframes bounceIn {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}