/*-----------------------------------------------
------------------ CONTAINERS -------------------
------------------------------------------------*/

#add #petinfocontainer,
#petInformation #content #photos,
#petInformation #content #biography,
#petInformation #content #posts{
    margin:1em; 
    padding: 2em;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}