/* Containers model for most of the boxes on our webpage*/

/* Add Pet */
#add-pet #add-pet-container,
/* Pet Detailed Information */
#pet-information #photos,
#pet-information #biography,
#pet-information #posts,
#pet-information #pet-detailed-information,
/* Profile */
#information-profile,
/* User Page */
#owner #adoption-pets,
#owner #adopted,
#owner #favorite-pets,
/* Pet Page */
#pet #question,
#pet #proposals, 
/* Advanced Search */
#advanced-search,
#search-pet-profile .profile,
/* Update User/Pet Profile */
#update-page .update-form {
    margin:1em;
    padding: 2em;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: var(--container-principal);
    box-shadow:	0 0.125rem 0.5rem var(--container-primary-shadow), 0 0.0625rem 0.125rem var(--container-secondary-shadow);
}

#pet #question #question-submit section{
  border: var(--container-border) 1px solid;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 15px;
}