/* Containers model for most of the boxes on our webpage*/

/* Add Pet */
#add-pet #add-pet-container,
/* Pet Detailed Information */
#pet-information #photos,
#pet-information #biography,
#pet-information #posts,
/* Profile */
#information-profile,
/* User Page */
#owner #adoption-pets,
#owner #adopted,
#owner #favorite-pets,
/* Pet Page */
#pet #question,
#pet #proposals, 
/* Advanced Search */
#advanced-search,
#search-pet-profile .profile,
/* Update User/Pet Profile */
#update .update-form {
    margin:1em;
    padding: 2em;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.6);
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

/* || Speech Bubbles */ 
/* Magic happens bellow, only zini knows  dont touch while refactor */

#pet .infoGrid #question input[type=text], 
#pet .infoGrid #question #uniquequestion p{
  position: relative;
  border: none;
  background-color: rgb(197, 235, 223);
  padding: 1.125em 1.5em;
  font-size: 1.25em;
  border-radius: 1rem;
  box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

#pet .infoGrid #question input[type=text]::before,
#pet .infoGrid #question #uniquequestion p::before{
content: '';
position: absolute;
width: 0;
height: 0;
bottom: -0.6em;
left: 22em;
border: .75rem solid transparent;
border-bottom: none;
  border-top-color: rgb(197, 235, 223);
  box-shadow:	rgba(0, 0, 0, .3);
}