body {
    --background-body: #1b262c; /* background body*/
    --footer-color: white; /* footer text color */
    --footer-background: #1b262c; /* footer background */
    --text-color: #3282b8;
    /* Containers */
    --container-principal: #162447; /* Container Colors */
    --container-primary-shadow: rgba(0, 0, 0, .3); /* Shadow */
    --container-secondary-shadow: rgba(0, 0, 0, .2); /* Shadow */
    --container-border: black; /* Border */
    /* Search */
    --search-background-color: #bbe1fa; /* */
    /* Notifications */
    --notifications-background-color: rgb(0,0,0); /* */
    --notifications-content-background: #fefefe; /* */
    --notifications-border: #888; /* */
    --notifications-close: #aaa; /* */
    --notifications-close-focus: black; /* */
    /* Pet Profile */
    --photo-next-prev: #bbe1fa; /* */
    /* Homepage */
    --intro-color:#3282b8; /* Logo color */
    --profile-overlay-background: black; /* */
    --profile-overlay-text: #bbe1fa; /* */
    /* Header */
    --background-gradient-first: #1b1b2f; /* */
    --background-gradient-second: #162447; /* */
    --header-border: #bbe1fa; /* */
    --href-header-footer:#bbe1fa; /* */
    --search-bar-background: red; /* */
    --search-bar-background-icon: black; /* */
    --icon-mobile:#bbe1fa; /* */
    --dropdown-href-a: black; /* */
    --dropdown-color: #bbe1fa; /* */
    --dropdown-hover: #0f4c75; /* */

    /* Components */
    --male-icon-selected: blue; /* */
    --female-icon-selected: fuchsia; /* */
    --genderless-icon: #008080; /* */
    --paw-selected:#008080; /* */
  
    --button-hover: red; /* */
    --found-pet-background:#3282b8 ; /* ALL button color */
    --found-pet-hover: #123044; /* After hover color */
    --found-pet-text: #ffffff; /* All button color text */
  
    --favorite: #3282b8; /* favorite button */
    --icon-background-white: white; /* */
    --icon-color: #3282b8; /* */
  
    /* Common */
    --href-common:  #3282b8; /* */
  
    --animation-color-1: rgb(230, 103, 124); /* */
    --animation-color-2: rgb(19, 77, 165); /* */
}