#dog{
    width: 120em;
    font-family: Arial, Helvetica, sans-serif;
}

.infoGrid #photos{
    border-style: solid;
    border-width: 2px;
}

.infoGrid #description{
    border-style: solid;
    border-width: 2px;
}