#homepage{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 3em;
    grid-column: start/end;
}

#intro{
    padding-bottom: 2em;   
    padding-top: 2em; 
    width: start/end;
    text-align: center;
}

#intro h1{
    font-size: xx-large;
    margin-bottom: 0.5em;
}

#intro h2{
    font-size: medium;
    font-style: normal;
}
#intro #found-pet{
   padding-top: 1em;
}

#intro #found-pet a{
    text-decoration: none;
    border: 1px solid #008080;
    background-color: #008080;
    color: white;
    transition: 0.3s;
    cursor: pointer;
    padding: 1em;
}

#intro #found-pet a:hover{
    border: 1px solid #004646;
    background-color: #004646;
}

#dogs_information{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
}
#homepage_profile {
    position: relative;
    text-align: center;
}

#homepage_profile .image {
    display: block;
    padding-top: 0;
    height: 19em;
    width: 19em;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
}

#homepage_profile p {
    text-align: center;
}

.overlay {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 10;
    margin: auto auto;
    height: 19em;
    width: 19em;
    opacity: 0;
    transition: .5s ease-out;
    background-color: black;
}

.overlay:hover {
    opacity: 0.7;
}

.text {
    width: 300px;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#homepage_profile a {
    text-decoration: none;
    font-size: 1em;
    color: black;
}

#homepage_profile a:hover {
    animation: pink_and_blue 3s infinite;
}

@keyframes pink_and_blue {
  0%   {color: rgb(230, 103, 124);}
  50%  {color: rgb(19, 77, 165);}
  100%  {color: rgb(230, 103, 124);}
}
