/* ---------- HTML LAYOUT ---------- */
html {
  height: 100%;
  width: 100%;
}

/* ---------- HEADER LAYOUT ---------- */

header{
  display: flex;
  flex-direction: row;
}

/* ---------- BODY LAYOUT ---------- */
body {
  --background-body: #FFFAE2;
  --footer-color: white;
  --footer-background: black;
  --text-color: black;
  --text-bottom-color: black;
  /* Containers */
  --container-principal: rgba(255,255,255,0.6);
  --container-primary-shadow: rgba(0, 0, 0, .3);
  --container-secondary-shadow: rgba(0, 0, 0, .2);
  --container-border: #cccccc;
  /* Search */
  --search-background-color: hsl(50, 100%, 93%);
  /* Notifications */
  --notifications-background-color: rgb(0,0,0);
  --notifications-content-background: #fefefe; 
  --notifications-border: #888;
  --notifications-close: #aaa;
  --notifications-close-focus: black;
  /* Pet Profile */
  --photo-next-prev: white;
  /* Homepage */
  --intro-color: hsl(72, 23%, 22%);
  --profile-overlay-background: black;
  --profile-overlay-text: white;
  /* Header */
  --background-gradient-first: hsl(72, 11%, 45%);
  --background-gradient-second: hsl(72, 11%, 35%);
  --header-border: white;
  --search-bar-background: white;
  --search-bar-background-icon: black;
  --icon-mobile: white;
  --dropdown-color: #f9f9f9;
  --dropdown-href-a: black;
  --dropdown-hover: #f1f1f1;
  /* Components */
  --male-icon-selected: blue;
  --female-icon-selected: fuchsia;
  --genderless-icon: #008080;
  --paw-selected:#008080;

  --button-hover: #004646;
  --found-pet-background: #008080;
  --found-pet-text: white;
  --found-pet-hover: #004646;

  --favorite: orange;

  --icon-background-white: white;
  --icon-color: black;

  /* Common */
  --href-common: black;
  --href-header-footer: white;

  --animation-color-1: rgb(230, 103, 124);
  --animation-color-2: rgb(19, 77, 165);
}

body.dark-theme {
    --background-body: #1b262c; /* background body*/
    --footer-color: white; /* footer text color */
    --footer-background: #1b262c; /* footer background */
    --text-color: #3282b8;
    --text-bottom-color: #3282b8;
    /* Containers */
    --container-principal: #162447; /* Container Colors */
    --container-primary-shadow: rgba(0, 0, 0, .3); /* Shadow */
    --container-secondary-shadow: rgba(0, 0, 0, .2); /* Shadow */
    --container-border: #3282b8; /* Border */
    /* Search */
    --search-background-color: #bbe1fa; /* */
    /* Notifications */
    --notifications-background-color: rgb(0,0,0); /* */
    --notifications-content-background: #fefefe; /* */
    --notifications-border: #888; /* */
    --notifications-close: #aaa; /* */
    --notifications-close-focus: black; /* */
    --notifications-fading: rgba(0,0,0,0.5);
    /* Pet Profile */
    --photo-next-prev: #bbe1fa; /* */
    /* Homepage */
    --intro-color:#3282b8; /* Logo color */
    --profile-overlay-background: black; /* */
    --profile-overlay-text: #bbe1fa; /* */
    /* Header */
    --background-gradient-first: #1b1b2f; /* */
    --background-gradient-second: #162447; /* */
    --header-border: #bbe1fa; /* */
    --href-header-footer:#bbe1fa; /* */
    --search-bar-background: red; /* */
    --search-bar-background-icon: black; /* */
    --icon-mobile:#bbe1fa; /* */
    --dropdown-href-a: black; /* */
    --dropdown-color: #bbe1fa; /* */
    --dropdown-hover: #0f4c75; /* */

    /* Components */
    --male-icon-selected: blue; /* */
    --female-icon-selected: fuchsia; /* */
    --genderless-icon: #008080; /* */
    --paw-selected:#008080; /* */
  
    --button-hover: red; /* */
    --found-pet-background:#3282b8 ; /* ALL button color */
    --found-pet-hover: #123044; /* After hover color */
    --found-pet-text: #ffffff; /* All button color text */
  
    --favorite: #3282b8; /* favorite button */
    --icon-background-white: white; /* */
    --icon-color: #3282b8; /* */
  
    /* Common */
    --href-common:  #3282b8; /* */
  
    --animation-color-1: rgb(230, 103, 124); /* */
    --animation-color-2: rgb(19, 77, 165); /* */
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column; 
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  background: var(--background-body);
  /*background-image: linear-gradient(to bottom right,pink, black);*/
  min-height: 100%;
}



/* ---------- PAGES LAYOUT ----------  */

#owner,
#pet,
#pet-update {
  height: 100%;
  width: 100%;
  flex: 1;
}

#pet-information,
#update-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1;
}

#error404,
#homepage,
#add-pet,
#advanced-search-page{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  flex: 1;
}






