body {
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: [start] 4fr [middle] 1fr [end];
  grid-template-rows: [start] auto [nav] auto [news] 1fr [footer] auto [end];
}

body > header {
  grid-column: start / end;
}



/* Profile Layout */
#owner{
  width: 120em;
}

.header{
  position: absolute;
}

.image{

  padding-top:6em;
}

.image img{
  position: relative;
  border-radius: 50%;
  /* center */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.name{
  text-align: center;
}

.infoGrid{
  text-align: left;
  padding-left: 8em;
  padding-right: 8em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 2em;
}

.infoGrid #information{
  text-align: left;
  grid-row: 1;
  grid-column: 1;
  padding: 1em;
}

.infoGrid #favPets{
  text-align: left;
  grid-column: 1;
  grid-row: 2;
  padding: 1em;
}

.infoGrid #petsForAdoption{
  text-align: left;
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 1em;
}

.infoGrid #question{
  text-align: left;
  grid-column: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 1em;
}

footer{
  grid-column: start/end;
}
