#add{    
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#add #petinfocontainer{
    width: 30em;
    text-align: center;
}

#add #petinfocontainer .inputsNewPet input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

#add #petinfocontainer .inputsNewPet input[type=submit]{
    margin-top: 1em;
    font-size: 16px;
}

#species_options,
#gender_options,
#size_options{
    padding: 0.5em;
    justify-content: center;
}
