#petInformation a{
    color: black;
    text-decoration: none;
}

#petInformation a:visited{
    color: black;
}

#petInformation #informationSidebar{
    padding-top: 1em;
    flex: 1;
    text-align: center;
}

#petInformation #content{
    flex: 4;
    display: flex;
    flex-direction: column;
}

#petInformation #content #photos,
#petInformation #content #biography,
#petInformation #content #posts{  
    margin:1em;  
    padding: 2em;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

#petInformation #content h2{
    padding-bottom: 1em;
}

#petInformation #content #top-content{
    display: flex;
}

#petInformation #content #top-content #photos,
#petInformation #content #top-content #biography{
    flex: 1;
}
/* Slideshow container */
#petInformation #content #top-content #photos .slideshow-container {
    width: 400px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
#petInformation #content #top-content #photos .prev, #petInformation #content #top-content #photos .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    user-select: none;
}

/* Position the "next button" to the right */
#petInformation #content #top-content #photos .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}