#petInformation #content h2{
    padding-bottom: 1em;
}
/* Slideshow container */
#petInformation #content #top-content #photos .slideshow-container {
    width: 400px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
#petInformation #content #top-content #photos .prev, 
#petInformation #content #top-content #photos .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    user-select: none;
}

/* Position the "next button" to the right */
#petInformation #content #top-content #photos .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}