#owner{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

#owner .image{
  padding-top: 6em;
}
  
.infoGrid #information_person{
  border-style: solid;
  border-width: 2px;
}

.infoGrid #information_person p{
  border-bottom: solid;
  padding-bottom: 5px;
  border-width: 1px;
}

.infoGrid #favPets{
  border-style: solid;
  border-width: 2px;
}

.infoGrid #petsForAdoption{
  border-style: solid;
  border-width: 2px;
}

.infoGrid #adopted{
  border-style: solid;
  border-width: 2px;
}