/* -------------  Common Between Profile Types ------------- */
.profileHeader .image img{
  position: relative;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profileHeader .image{
  padding-top: 6em;
}

.profileHeader .name{
  text-align: center;
}
  
.infoGrid{
  padding-left: 8em;
  padding-right: 8em;
  text-align: left;
}

#information_person p{
  border-bottom: solid;
  padding-bottom: 5px;
  border-width: 1px;
}

#information_pet #information_and_update, 
#proposals #uniqueproposal{
  display: flex;
  align-items: center;
  justify-content: left;
}

#information_pet #information_and_update #moreinfo{
  margin-left: auto;
}

#information_pet p{
  border-bottom: solid;
  padding-bottom: 5px;
  border-width: 1px;
}

.name_and_favorite{
  display: flex;
  align-items: center;
  justify-content: center;
}

#proposals #adoption-propose{
  padding-top: 1em;
  display: flex;
  justify-content: center;
}

#question{
  display: flex;
  flex-direction: column;
  max-width: 31em;
}

#question .questionform{
  padding-top: 1em;  
  display: flex;
  flex-direction: column;
}

#pet .infoGrid #question input[type=submit]{
  margin-top: 1em;
  margin-left: auto;
}