#advanced_search{
    border: none;
    text-align: center;
    margin-left: 30em;
    margin-right: 30em;
}

#advanced_search h2{
    font-style: normal;
}

#displayPets #profile{
    display: flex;
    flex-direction: row;
}

#displayPets #profile img{
    border-radius: 0;
}

#displayPets #profile .info{
    padding: 1em;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 1em;
    width: 100%; 
}

