/* header */
body > header {
  background-color: #ACB0C0;
  color: white;
  padding: 1em;
  padding-left: 2em;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body > header h1, body > header h2{
  font-style: italic;
  margin: 0;
}

body > header h2{
  font-size: 0.8em;
}

body > header a {
  color: white;
  text-decoration: none;
}

body > header #search{
  padding-right: 9em;
  padding-top: 0.5em;
}

body > header #search input[type=text] {
  padding: 7px;
  border: none;
  font-size: 17px;
}

body > header #search button {
  float: right;
  padding: 7px;
  background: white;
  color: #ACB0C0;
  font-size: 17px;
  border: none;/* Prevent double borders */
  cursor: pointer;
}

body > header #name_slogan  {
  border-right: 2px solid white;
  padding-bottom: 0;
  margin-right: 6em;
}

body > header #signup{
  padding-top: 1em;
}

body > header #signup a:first-child {
  border-right: 1px solid white;
}

body > header #signup a {
  padding: 0 1em;
}

body > header #signup a:first-child {
  padding-left: 0;
}


/* main layout */
body {
  background-color: #edeff0;

  margin: 0 auto;
  width: 60em;

  display: grid;
  grid-template-columns: [start] 4fr [middle] 1fr [end];
  grid-template-rows: [start] auto [nav] auto [news] 1fr [footer] auto [end];
}

body > header {
  grid-column: start / end;
}


aside {
  grid-column: middle;
  grid-row: nav / end;
}


body > footer {
  align-self: end;
}

/* header layout */
body > header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
}

body > header h1 {
  grid-column: 1;
  grid-row: 1;
}

body > header h2 {
  grid-column: 1;
  grid-row: 2;
}

body > header #search {
  grid-column: 2;
  grid-row: 1;
} 
body > header #signup {
  grid-column: 3;
  grid-row: 1;
}
