#update{    
    overflow: hidden;
    justify-content: center;
    align-items: center;
    column-gap: 2em;
}

#updatecontainers{
    overflow: hidden;
    justify-content: center; /*centers items on the line (the x-axis by default)*/
    align-items: center; /*centers items on the cross-axis (y by default)*/ 
    column-gap: 2em;
    padding: 1em;
}

#update input,
.updateposts #buttonsposts button{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

#update button{
    margin-top: auto;
}

.changeUsername,
.changePassword,
.updatepetinfo,
.updateposts,
.add-photo{
    height: 40em;
    width: 30em;
    text-align: center;
}

.goback{
    text-align: center;
    padding: 1em;
}

.updateposts #buttonsposts input[type=submit]{
    width: 50%;
}