#update{    
    overflow: hidden;
    justify-content: center;
    align-items: center;
    column-gap: 2em;
}

#update input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

#update button{
    margin-top: auto;
}

#update .changeUsername,
#update .changePassword{
    height: 40em;
    width: 30em;
    text-align: center;
    display: flex;
    flex-direction: column;
}