/* ---------- HOMEPAGE LAYOUT ---------- */

#homepage-profile {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
  }
  
  @media screen and (max-width: 1250px){
    #homepage-profile {
      grid-template-columns: 33% 33% 33%;
    }
  }
  
  @media screen and (max-width: 980px){
    #homepage-profile {
      grid-template-columns: 50% 50%;
    }
  }
  
  @media screen and (max-width: 650px){
    #homepage-profile {
      grid-template-columns: 100%;
    }
  }

/* style */

#homepage {
    padding-bottom: 20em;
}

#homepage-intro {
    padding-bottom: 2em;   
    padding-top: 2em; 
    text-align: center;
}

#homepage-intro h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    font-family: 'Lobster', cursive;
    color: var(--intro-color);
}

#homepage-intro h2 {
    font-size: medium;
    font-style: normal;
}

#homepage-intro .found-pet {
   padding-top: 1em;
}

#homepage-profile .homepage-profile-pet {
    place-items: center;
    display: grid;
}

#homepage-profile .pet-name{
    font-size: 1.5em;
}

#homepage-profile a:hover {
    animation: pink_and_blue 3s infinite;
}

#homepage-profile .card{
  width: 300px;
  height: 300px;
  position: relative;
}

.card .profile-overlay {
  transition: .5s ease-out;
  background-color: var(--profile-overlay-background);
  border-radius: 20%;  
  opacity: 0;  

  color: var(--profile-overlay-text);
  font-size: 20px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 300px;

  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.card .profile-image{
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 20%;  
  box-shadow:	0 0.125rem 0.5rem var(--container-primary-shadow), 0 0.0625rem 0.125rem var(--container-secondary-shadow);
}

.card:hover .profile-overlay {
  opacity: .6;
}


