/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: var(--notifications-background-color); /* Fallback color */
  background-color: var(--notifications-fading);
}
  
/* Modal Content/Box */
.modal-content {
  background-color: var(--notifications-content-background);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 2em;
  border: 1px solid var(--notifications-border);
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 40px;
  box-shadow:	0 0.125rem 0.5rem var(--container-primary-shadow), 0 0.0625rem 0.125rem var(--container-secondary-shadow);
}

.modal-content h3{
  font-size: 1.5em;
}

.modal-content img{
  border-radius: 50%;
  vertical-align: middle;
}

.modal-content span {
  vertical-align: middle;
}

.modal-content article a{
  color:	#008080;
  vertical-align: middle;
}

.modal-content article{
  padding: 1em;
  font-size: 1.3em;
}

.modal-content article:hover .fa-paw{
  color:var(--paw-selected);
}

/* The Close Button */
.close {
  color: var(--notifications-close);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--notifications-close-focus);
  text-decoration: none;
  cursor: pointer;
}