/* ---------- PET INFORMATION LAYOUT ---------- */

#pet-information #pet-name-photo img{
  border-radius: 50%;
}

#pet-information #name_and_edit{
  display: flex;
  align-items: center;
  justify-content: center;
  zoom: 1.3;
  text-align: left;
}

#pet-information #pet-information-sidebar {
    padding-top: 1em;
    flex: 1;
    text-align: center;
  }
  
  #pet-information #pet-detailed-information{
    text-align: left;
  }
  
  #pet-information #container {
    flex: 4;
    display: flex;
    flex-direction: column;
  }
  
  #pet-information #top-container {
    display: flex;
  }
  
  #pet-information #photos,
  #pet-information #biography {
      flex: 1;
  }
  
  @media screen and (max-width: 1260px) {
    #pet-information #top-container{
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 600px) {
    #pet-information {
      display: flex;
      flex-direction: column;
    }
    #pet-information #pet-detailed-information {
      flex-direction: row;
    }
  }
  

#pet-information #container h2 {
    padding-bottom: 1em;
}

#pet-information #posts {
  display: flex;
  flex-direction: column;
}

#pet-information #posts #uniquepost section{
  border: var(--container-border) 1px solid;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 15px;
}

#pet-information #posts p{
  margin-top: 5px;
  margin-bottom: 5px;
}

#pet-information #posts span{
  font-size: 11px;
}

#pet-information #posts h2{
  padding-bottom: 20px;
}

#pet-information #pet-detailed-information p{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: var(--text-bottom-color) 1px solid;
}


/* Slideshow container */
#pet-information #photos .slideshow-container {
    width: 400px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
#pet-information #photos .prev, 
#pet-information #photos .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: var(--photo-next-prev);
    font-weight: bold;
    font-size: 18px;
    user-select: none;
}

/* Position the "next button" to the right */
#pet-information #photos .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


