/* -------------  Common Between Profile Types ------------- */
.profile-header .profile-image img{
  position: relative;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile-header .profile-image{
  padding-top: 6em;
}

.profile-header .profile-text{
  text-align: center;
}
  
#profile-grid {
  text-align: left;
}

#information-profile {
  border-bottom: solid;
  padding-bottom: 5px;
  border-width: 1px;
}

#information-profile-header, 
#proposals .unique-proposal {
  display: flex;
  align-items: center;
  justify-content: left;
}

#information-profile-header #information-profile-more {
  margin-left: auto;
}

.name_and_favorite{
  display: flex;
  align-items: center;
  justify-content: center;
}

#proposals #adoption-proposal {
  padding-top: 1em;
  display: flex;
  justify-content: center;
}

#question {
  display: flex;
  flex-direction: column;
}

#question .question-form {
  padding-top: 1em;  
  display: flex;
  flex-direction: column;
}

#pet #profile-grid #question input[type=submit]{
  margin-top: 1em;
  margin-left: auto;
}