
/* ---------- PROFILES LAYOUT ---------- */

#information{
  display: flex;
  justify-content: center;
}

#profile-grid {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 2em;
  column-width: 10em;
}

#owner #profile-grid #favorite-pets {
  text-align: left;
  grid-column: 1;
  grid-row: 2;
  padding: 2em;
}

#owner #adoption-pets, 
#pet #posts, 
#pet #proposals{
  text-align: left;
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 2em;
}

#pet #question, 
#owner #adopted{
  text-align: left;
  grid-column: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 2em;
}

@media screen and (max-width: 1200px){
  #profile-grid {
    display: flex;
    flex-direction: column;
  }
}
/*style */


/* -------------  Common Between Profile Types ------------- */
.profile-header .profile-image img{
  position: relative;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile-header .profile-image{
  padding-top: 6em;
}

.profile-header .profile-text{
  text-align: center;
}
  
#profile-grid {
  text-align: left;
}

#information-profile {
  border-bottom: solid;
  padding-bottom: 5px;
  border-width: 1px;
}

#information-profile-header{
  display: flex;
  align-items: center;
  justify-content: left;
}

#information-profile-header #information-profile-more {
  margin-left: auto;
}

.profile-text{
  display: flex;
  align-items: center;
  justify-content: center;
}


#proposals .unique-proposal {
  display: grid;
  grid-template-columns: 50px auto 200px ;
  
}

#proposals h2{
  padding-bottom: 20px;
}

.unique-proposal img{
  border-radius: 50%;
  align-self: center;
}

.unique-proposal p,
.unique-proposal form{
  align-self: center;
}

#proposals #adoption-proposal {
  padding-top: 1em;
  display: flex;
  justify-content: center;
}

#question {
  display: flex;
  flex-direction: column;
}

#question .question-form {
  padding-top: 1em;  
  display: flex;
  flex-direction: column;
}

#pet #profile-grid #question input[type=submit]{
  margin-top: 1em;
  margin-left: auto;
}