
/* ---------- PROFILES LAYOUT ---------- */

#information{
  display: flex;
  justify-content: center;
}

#profile-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 2em;
  column-width: 10em;
  margin-left: 10em;
  margin-right: 10em;
}

#profile-grid-pet {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 25em auto auto;
  grid-gap: 2em;
  margin-left: 10em;
  margin-right: 10em;
}

#pet #information-profile{
  grid-row: 1;
}

#owner #profile-grid #favorite-pets {
  text-align: left;
  grid-column: 1;
  grid-row: 2;
  padding: 2em;
}

#owner #adoption-pets{
  text-align: left;
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 2em;
}

#pet #posts{
  text-align: left;
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 2em;
}

#pet #proposals{
  text-align: left;
  grid-column: 1;
  grid-row-start: 2;
  padding: 2em;
}

#pet #question, 
#owner #adopted{
  text-align: left;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 2em;
}

#pet #proposals .unique-proposal{
  display: flex;
  border-bottom: var(--text-bottom-color) 1px solid;
  margin-top:0.5em;
  margin-bottom: 0.5em;
  padding: .5em;
}

#pet #proposals .unique-proposal #button-posts{
  margin-left: auto;
  display: flex;
  gap: .5em;
}

#pet #proposals .unique-proposal img{
  padding: 1em;
}

#owner #favorite-pets .unique-favorite-pet,
#owner #adoption-pets .unique-adoption-pet,
#owner #adopted .unique-adopted{
  display: grid;
  grid-template-columns: 55px auto;
}

@media screen and (max-width: 1200px){
  #profile-grid,
  #profile-grid-pet {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    margin-right: 1em;
  }
}
/*style */
#pet #proposals h2,
#owner #favorite-pets h2,
#owner #adoption-pets h2,
#owner #adopted h2{
  padding-bottom: 20px;
}

#pet #proposals .unique-proposal img,
#owner #favorite-pets .unique-favorite-pet img,
#owner #adoption-pets .unique-adoption-pet img,
#owner #adopted .unique-adopted img{
  border-radius: 50%;
  align-self: center;
}

#pet #proposals .unique-proposal p,
#pet #proposals .unique-proposal form,
#owner #favorite-pets .unique-favorite-pet p,
#owner #adoption-pets .unique-adoption-pet p,
#owner #adopted .unique-adopted p{
  align-self: center;
  font-weight: 500;
}

/* -------------  Common Between Profile Types ------------- */
.profile-header .profile-image img{
  position: relative;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile-header .profile-image{
  padding-top: 6em;
}

.profile-header .profile-text{
  text-align: center;
}
  
#profile-grid {
  text-align: left;
}

#information-profile p{
  border-bottom: var(--text-bottom-color) 1px solid;
  margin-top:0.5em;
  margin-bottom: 0.5em;
  padding: .5em;
}

#information-profile-header{
  display: flex;
  align-items: center;
  justify-content: left;
}

#information-profile-header #information-profile-more {
  margin-left: auto;
}

.profile-text{
  display: flex;
  align-items: center;
  justify-content: center;
}

#proposals #adoption-proposal {
  padding-top: 1em;
  display: flex;
  justify-content: center;
}

#question .question-form {
  padding-top: 1em;  
  display: flex;
  flex-direction: column;
}

#question {
  display: flex;
  flex-direction: column;
}

#question p{
  margin-top: 5px;
  margin-bottom: 5px;
}

#question span{
  font-size: 11px;
}

#question h2{
  padding-bottom: 20px;
}

#pet #profile-grid #question input[type=submit]{
  margin-top: 1em;
  margin-left: auto;
}


#pet #profile-grid #question #question-submit section form button{
  width: 100px;
  margin-top: 0.5em;
}








