
/* --- User and Pet Update CSS --- */
.update-form{
    /* Layout */
    display: flex;
    flex-direction: column;

    /* style */
    height: 40em;
    width: 250px;
    text-align: center;
    align-self: flex-start;
}

#update-page {    
    align-items: center;
    column-gap: 2em;
}

#update-page button {
    margin-top: auto;
}

@media screen and (max-width: 1600px) {
    .update-form {
        height: auto;
    } 

    #update-page {
        flex-direction: column;
    }
}

/* --- User only CSS --- */
#update-page #delete-profile {
    padding-bottom: 1em;
}

/* --- Pet only CSS --- */
#update-page .update-post {
    display: flex;
}

#update-page .update-post input[type=submit] {
    width: 50%;
}

.update-back-profile-button {
    text-align: center;
    padding: 1em;
}


