
/* --- User and Pet Update CSS --- */
.update-form{
    /* Layout */
    display: flex;
    flex-direction: column;

    /* style */
    min-height: 40em;
    width: 30em;
    text-align: center;
    align-self: flex-start;
}

#update-page {    
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1600px) {

    #update-page {
        flex-direction: column;
    }
}

@media screen and (max-width: 1040px) {
    .update-form {
        height: auto;
    } 
}

/* --- User only CSS --- */
#update-page .update-form h2{
    padding-bottom: 1em;
}

#update-page #delete-profile {
    padding-bottom: 1em;
}

#update-page .options{
    padding: 1em;
}

/* --- Pet only CSS --- */


.inputs-post-update{
    display: flex;
}

.edit-post{
    display: flex;
    flex-direction: row;
    align-items: center;
}

button.button-edit-post{
    margin-left: 11em;
}

.delete-post{
    margin-left: auto;
    padding-top: .8em;
}

.update-back-profile-button {
    text-align: center;
    padding: 1em;
}

.delete-pet-photo-album{
    display: flex;
    flex-direction: row;
    gap: 5em;
    align-items: center;
    padding: .5em;
}

.delete-pet-photo-album input[type="submit"]{
    height: 3em;
}

.update-pet-info .options{
    padding: 0.5em;
}


